html,
body {
  background-color: rgb(32, 32, 32);
  /* background-image: url("/gambar.jpg"); */
  height: 120vh;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
