html,
body {
  background-color: #785ff8;
  /* background-image: url("/gambar.jpg"); */
  height: 120vh;
  padding: 0;
  margin: 0;
}

/* a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
